.menuBtn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    transition: all .5s ease-in-out;
    pointer-events: all;
    cursor: pointer;
}

.menuBtnBurger {
    width: 16px;
    height: 2px;
    transition: all .4s cubic-bezier(0.24, 1.04, 0.57, 1) 0s;
}

.menuBtnBurger:before,
.menuBtnBurger:after {
    content: '';
    position: absolute;
    width: 16px;
    height: 2px;
    border-radius: 4px;
    transition: all .4s cubic-bezier(0.24, 1.04, 0.57, 1) 0s;
}

.menuBtnBurger:before {
    transform: translate(-8px, -6px);
}

.menuBtnBurger:after {
    transform: translate(-8px, 6px);
}

.menuBtn.open .menuBtnBurger {
    transform: translateX(-16px);
    background: transparent;
}

.menuBtn.open .menuBtnBurger:before {
    transform: rotate(45deg) translate(6px, -6px);
}

.menuBtn.open .menuBtnBurger:after {
    transform: rotate(-45deg) translate(6px, 6px);
}
